.app {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://image.winudf.com/v2/image1/Y29tLm9sZWdydWJub3YuQ2hlY2tlcnNTcG9ydE5ld1dhbGxwYXBlcnMyMDE4X3NjcmVlbl80XzE1NDE1MzUwODhfMDAw/screen-4.jpg?fakeurl=1&type=.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

content{
  width:100%;
  height:100%;
}

.app .list-game{
  width: 100%;
  height: 100%;
}

content .header{
  top:0;
  width: 100%;
  height: 40px;
  background-color: grey;
  display: flex;
  justify-content: center;
}

button{
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
}
