.board{
    width: 785px;
    height: 782px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: row;
    border: 20px solid;
    border-image: url(https://sale-floor.ru/images/product_images/info_images/135_0.jpg);
    border-image-width: 100%;
    border-image-repeat: repeat;
}