.check{
    margin: 0 auto;
    width: 84px;
    height: 84px;
    border-radius: 50%;
}

.check_click{
    box-shadow: 0 0 20px rgba(0, 255, 42, 1);
    border: 1px solid rgba(0, 255, 42, 1);
}

.check_black{
    background-color: black;
}

.check_white{
    background-color: white;
}