.check{
    margin: 0 auto;
    width: 82px;
    height: 84px;
    border-radius: 50%;
}

.check_click{
    box-shadow: 0 0 20px rgba(0, 255, 42, 1);
    border: 1px solid rgba(0, 255, 42, 1);
}

.check_black{
    background-image: url(http://forum-psn.ru/uploads/monthly_09_2018/post-289-1536310601.png);
    background-size: cover;
    background-color: black;
}

.check_white{
    background-image: url(https://yt3.ggpht.com/a/AGF-l7-lhAcO1brBZbmXIiD4kpc6drBwABWVYQ7eSw=s400-c-k-c0xffffffff-no-rj-mo);
    background-size: cover;
    background-color: burlywood;
    background-position-x: center;
}