.field{
    width: 96px;
    height: 96px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.field_black{
    background-image: url(https://cpimg.tistatic.com/04098671/s/4/Ebony-Oak-plank.jpg);
}

.field_white{
    background-image: url(http://cgtexture.ir/images/products/thumb/108057sbbftb.jpg);
}

.field_light{
    background-color: rgba(0, 255, 42, 1);
}