.field{
    width: 96px;
    height: 96px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.field_black{
    background-color: brown;
}

.field_white{
    background-color: white;
}

.field_light{
    background-color: rgba(0, 255, 42, 1);
}